

.sui-StudioDemo {
  $w-code-button: 48px;

  display: flex;
  flex: 1;
  flex-direction: column;

  &-codeButton {
    background: $c-white;
    border: 2px solid $c-white;
    border-radius: 100%;
    margin-top: -$w-code-button/2;
    position: absolute;
    right: $p-base;
    width: $w-code-button;
    z-index: 1;

    path {
      fill: $c-primary;
    }
  }

  &-code {
    height: 0;
    overflow: hidden;
    transition: height 250ms;

    &--open {
      height: 300px;
    }
  }

  &-preview {
    align-items: center;
    flex: 1;
    justify-content: center;
    overflow-y: auto;
    padding: $p-base;
  }
}
