.SUIStudio {
  display: flex;
  height: 100vh;

  &-sidebar {
    background-color: lightblue;
    box-sizing: border-box;
    flex: 0 1 210px;
    padding: 2em;
  }

  &-main {
    flex: 1;
    height: 100%;
    overflow: hidden;
  }
}
