%layout-fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  overflow: auto;
}

.SUIStudio {
  display: flex;
  height: 100vh;

  &-sidebar {
    @extend %layout-fixed;
    background-color: $c-sidebar-background;
    box-sizing: border-box;
    flex: 0 1 210px;
    z-index: 100;
  }

  &-main {
    @extend %layout-fixed;
    background-color: #fff;
    flex: 1;
    height: 100%;
    overflow: hidden;
    transition: transform .250s ease;
    z-index: 101;
    width: 100%;
  }

  &-header {
    background: $c-header-background;
    color: #fff;
    padding: 1.25em 4em;
  }
}
