.sui-StudioNav {
  background: $bgc-navbar;
  display: block;
  font-size: $fz-m;

  &-logo {
    margin: $p-base auto;
    max-width: 100px;
    width: 50%;
  }

  &-searchInput {
    @include icon-search($fgc-navbar);
    background-color: $bgc-navbar-secondary;
    background-position: 15px;
    background-size: auto 1em;
    border: 0;
    border-left: 2px solid $c-primary;
    box-sizing: border-box;
    color: $fgc-navbar--active;
    cursor: pointer;
    line-height: $w-sidebar-collapsed;
    margin-top: 2px;
    outline: none;
    padding: 0;
    padding-left: $w-sidebar-collapsed;
    width: 100%;

    &:focus {
      @include icon-search($c-white);
      border-left-color: $c-white;
    }
  }
}
