.SUIStudioWorkbench {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;

  &-navigation {
    background: lightgrey;
    padding: 0.3em 3em;
  }

  &-content {
    background-color: lighten(lightgrey, 10%);
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
  }

  &-navContainer {
    list-style-type: none;
    margin: 0;
    padding: 1em;
  }

  &-link {
    @extend %link;

    &Wrapper {
      display: inline-block;
      padding-right: 1em;
    }
  }
}
