.sui-StudioWorkbench {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;

  &-navigation {
    background: $bgc-navbar;
  }

  &-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
  }
}
